{% extends 'shop/layouts/main.html' %}
{% block title %}
  Registration | ShopKart
{% endblock title %}
{% block content %}
  <section class="bg-light py-4 my-5" style="min-height:600px;">
    <br>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h4 class="mb-3">Cart  Items</h4>
          <hr style="border-color:#b8bfc2;">
        </div>
      
        <table class="table table-bordered" style="border-radius: 5px;">
            <tr >
                <th class="table-info"><center>Image</center></th>
                <th class="table-info"><center>Product Name</center></th>
                <th class="table-info"><center>Unit</center></th>
                <th class="table-info"><center>Quantity</center></th>
                <th class="table-info"><center>Amount</center></th>
                <th class="table-info"><center>Remove</center></th>
            </tr>
          

            {% for item in cart %}
           <tr>
              <td><center><br><img src="{{item.product.product_image.url}}" height="75px" alt="{{item.product.name}}"></center></td>
              <td><center><br>{{item.product.name}}</center></td>
              <td><center><br>{{item.product.selling_price | stringformat:'d'}}</center></td>
              <td><center><br>{{item.product_qty}}</center></td>
              <td class="amt"><center><br>{{item.total_cost | stringformat:'d'}}</center></td>
              <td><center><br><a href="{% url 'remove_cart' item.id %}"  onclick="return confirm('Are you sure? to Remove')"  class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Remove</a></center></td>
            </tr>
            {% endfor %}
            <tr>
              <td></td>
              <td></td>
              <td colspan="2" class="table-dark bg-success"><center><b>Total Amount</b></center></td>
              <th id="net" class="table-dark bg-success">0</th>
              <td class="table-white "><center>
                <button class="btn btn-primary btn-sm">
                  <i class="fa fa-check-circle"></i> Check Out
              </button></center></td>
            </tr>
           
        </table>
       
      </div>
      </div>
  </section>

  <script>
    const nodes = document.querySelectorAll('.amt');
    const arr = Array.from(nodes);
    const res = arr.reduce((acc, curr) => {
     return acc += Number(curr.textContent)
    }, 0);
    document.getElementById("net").innerHTML="Rs : "+res;

  </script>
{% endblock content %}
