{% extends 'shop/layouts/main.html' %} 

{% block title %}
    Shopkart | Online Shopping
{% endblock title %}

{% block content %}
{% include 'shop/inc/slider.html' %}
    <div class="container" style="margin-top:70px; min-height: 600px">
        <div class="row">
            <div class="col-12">
                <h4 class="mb-3"> Latest Offers </h4>
                <hr style="border-color: #b8bfc2;"><br>
            </div>
            {% for item in products %}
            <div class="col-md-4 col-lg-3" >
                <div class="card my-3">
                    
                    <a href="{% url 'product_details' item.category.name item.name %}">
                    
                    <center><img src="{{item.product_image.url}}" class="card-image-top" alt="Catagories" height="230px" width="230px"></center>
                    
                    <div class="card-body">
                        <h5 class="card-title text-primary">{{ item.name }}</h5>
                        <p class="card-text">
                            <span class="float-start old_price"><s>Rs.{{ item.original_price | stringformat:'d' }}</s></span>
                            <span class="float-end new_price">Rs.{{ item.selling_price | stringformat:'d' }}</span>
                        </p>
                    </div>
                    </a>
                </div>
            </div>
            {% endfor %}
            </div>
        </div>
{% endblock content %}