{% extends 'shop/layouts/main.html' %} 

{% block title %}
    Registration | Shopkart
{% endblock title %}

{% block content %}
<div class="container" style="margin-top:70px;min-height:600px;">
    <div class="row">
        <div class="col-12">
            <h4 class="mb-3"> Register Page</h4>
            <hr style="border-color: #b8bfc2">
            {% include 'shop/inc/message.html' %}
            </div>
        </div>
        <section class="py-4 my-5">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <form method="post" action="">
                            {% csrf_token %}
                            <div class="mb-4">
                                <lable for="" class="form-lable">User Name</lable>
                                {{form.username}}
                                {% if form.errors.username %}
                                <lable  class="text-danger" >{{ form.errors.username }}</lable> 
                                {% endif %}
                                </div>
                                <div class="mb-4">
                                <lable for="" class="form-lable">User Email</lable>
                                {{form.email}}
                                {% if form.errors.email %}
                                <lable  class="text-danger" >{{ form.errors.email }}</lable> 
                                {% endif %}
                                </div>
                                <div class="mb-4">
                                <lable for="" class="form-lable">Password</lable>
                                {{form.password1}}
                                {% if form.errors.password1 %}
                                <lable  class="text-danger" >{{ form.errors.password1 }}</lable> 
                                {% endif %}
                                </div>
                                <div class="mb-4">
                                <lable for="" class="form-lable">Confirm Password </lable>
                                {{form.password2}}
                                {% if form.errors.password2 %}
                                <lable  class="text-danger" >{{ form.errors.password2 }}</lable> 
                                {% endif %}
                                </div>
                            <button type="submit" class="btn btn-primary">Register</button>
                            </form>
                            <p class="my-2">Already User ? <a href="{% url 'login' %}">Login Now</a></p>
                    </div>
                </div>
            </div>
        </section>
    </div>
 
{% endblock content %}